@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<select id="dataCombo" class="selectpicker" style="width:400px;" data-live-search="true">
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    <option value="4">Four</option>
    <option value="5">Five</option>
    <option value="6">Six</option>
</select>


<script>
    $(document).ready(function () {
        $('select').on('change', function () {
            alert($(this).val());
        });
    });
</script>